<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Favor</title>
    <link rel="icon" href="~/Content/img/favorTab.jpg" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css"> 
</head>
<body background="~/Content/img/BG.jpg" class="signup-page">   
    
    <nav class="navbar navbar-info navbar-fixed-top">
        
        <div class="container">
           
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-logo" href="/">
                    <img src="~/Content/img/favor.jpg" width="120" height="55">
                </a>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("I am looking", "ListAllTypeSearch", "Favor")
                    </li>
                    <li>
                        @Html.ActionLink("i am offering", "ListAllTypeDoing", "Favor")
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navigation-example">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
        <br /><br />
        <footer class="navbar-static-top text-center">
            <div class="col-md-6 col-md-push-3 input text-center">
                <hr /><br />
                <a href="https://github.com/ToBeerOrNotToBeer/Favor" style="font-size: 25px"><i class="fa fa-github"></i></a>
                    <p>&copy; @DateTime.Now.Year - ToBeerOrNotToBeer corporation
                </p>
            </div>
        </footer>
    </div>
    <div></div>
    
    
    
    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!--     Css and JavaScript support     -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/material-kit.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/material.min.js")
    @Scripts.Render("~/Scripts/nouislider.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Scripts.Render("~/Scripts/material-kit.js")

    @RenderSection("scripts", required: false)
    
</body>
</html>
