@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @if (User.IsInRole("Admin"))
        {
            <li>
                <a href="/Admin/AdminPanel" class="fa fa-users" aria-hidden="true" style="font-size: 30px"></a>
            </li>
        }
        <li>
            @Html.ActionLink("Create favor", "Create", "Favor")
        </li>
        <li>
            @{
                var db = new Favor.Data.FavorDbContext();

                var currUserId = User.Identity.GetUserId();

                var user = db.Users.Find(currUserId);
            }
            @Html.ActionLink(user.FullName, "Profile", "Profile", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
