@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @if (User.IsInRole("Admin"))
        {
            <li>
                <a href="/Admin/AdminPanel" class="fa fa-users" aria-hidden="true" style="font-size: 30px"></a>
            </li>
        }
        <li>
            @Html.ActionLink("Create favor", "Create", "Favor")
        </li>



        <li>
            @{
                var db = new Favor.Data.FavorDbContext();

                var currUserId = User.Identity.GetUserId();

                var user = db.Users.Find(currUserId);
            }
            @Html.ActionLink(user.FullName, "Profile", "Profile", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>

        <!--Notification dropdown menu-->
        <li>
            <div class="dropdown" >
                <a href="#" class="btn btn-info dropdown-toggle" style="margin-top:4px; margin-left:-10px; margin-right:-10px" data-toggle="dropdown" aria-hidden="true">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                    @if (@user.Notifications.TotalNotifications != 0)
                    {
                        @user.Notifications.TotalNotifications
                    }
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/Profile/Profile">Messages (@user.Notifications.FromMessages)</a></li>
                    <li><a href="/Profile/Profile">Pending Favors (@user.Notifications.FromPendingFavors)</a></li>
                </ul>
            </div>
        </li>

        <!---->

        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>

        


    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>



    </ul>
}
