@model Favor.Models.FavorModels.FavorDetailViewModel

@{
    ViewBag.Title = "Details Page";
}

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-2 col-sm-offset-2">
                <div class="card card-signup">
                    <form class="form" method="post">
                        <div class="header header-info text-center">
                            <h1>@Model.Title</h1>
                        </div>
                            <p class="text-divider"><strong>@Model.Description</strong> </p>
                        <hr />
                        <div class="col-md-6 col-md-push-3 input text-center"><span style="opacity:0.6">
                        POSTED FROM: <a href="#">@Model.UserFullName</a> </span>
                            <hr />
                            <br />

                            <div class="col-md-6"
                            <div class="footer text-center">
                                <input type="submit" value="PAYOFF Favor" class="btn btn-primary btn-round" data-toggle="tooltip" data-placement="top" title="@Model.PayOff.WithFavor.ToString()">
                            </div>

                            <div class="footer text-center">
                                <input type="submit" value="PAYOFF Money" class="btn btn-primary btn-round" data-toggle="tooltip" data-placement="top" title="@Model.PayOff.WithMoney.ToString()">
                            </div>

                            <div class="dropdown">
                                <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Options
                                <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Favor/Edit/@Model.Id">Edit</a></li>
                                    <li><a href="/Favor/Delete/@Model.Id">Delete</a></li>
                                </ul>       
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>