@model Favor.Models.FavorModels.FavorEditViewModel

@{ 
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Favor", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-2 col-sm-offset-2">
                    <div class="card card-signup">
                        <form class="form" method="post">
                            <div class="header header-info text-center">
                                <h3>Edit Offer</h3>
                            </div>
                            <hr />
                            <div class="col-md-6 col-md-push-3 input text-center">

                                <div class="input-group col-md-6 col-md-push-3 input text-center">
                                    <div class="form-group">
                                        <input class="form-control text-center" name="Title" placeholder="Enter your new title here" type="text" value="@Model.Title">
                                    </div>
                                </div>


                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <textarea class="form-control text-center" name="Description" rows="6" cols="50" placeholder="Enter your new Description here">@Model.Description</textarea>
                                    </span>
                                </div>

                                <div class="form-group">
                                    What new offer do you want in trade:
                                    @Html.EnumDropDownListFor(f => f.PayOff.WithFavor, new { @class = "btn btn-info" })
                                </div>

                                <div class="input-group col-md-6 col-md-push-3 input text-center">
                                    <div class="form-group">
                                        <input class="form-control text-center" placeholder="Amount of $ in exchange" type="number" value="@Model.PayOff.WithMoney">
                                    </div>
                                </div>

                                <div class="form-group">
                                    What category is your new offer:
                                    <br />
                                    @Html.EnumDropDownListFor(f => f.Category, new { @class = "btn btn-info" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(f => f.FavorType)
                                    <div>
                                        @Html.EnumDropDownListFor(f => f.FavorType, new { @class = "btn btn-info" })
                                    </div>
                                </div>
                                <hr />

                                <br />
                                <div class="footer text-center">
                                    <form action="/Favor/Details/@Model.Id">
                                        <input type="submit" value="Cancel" class="btn btn-default btn-round" data-toggle="tooltip" data-placement="top" title="Finish Editing">
                                    </form>
                                    <input type="submit" value="Edit" class="btn btn-success btn-round" data-toggle="tooltip" data-placement="top" title="Finish Editing">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}