@model List<Favor.Models.FavorModels.ListAllFavorsModel>

@{
    ViewBag.Title = "Searching";
}

@{
    int previousPage = ViewBag.CurrentPage - 1;
    int nextPage = ViewBag.CurrentPage + 1;
    int currentPage = ViewBag.CurrentPage;
    int currentCategory = (int)ViewBag.CurrentCategory;

    bool leftArrowIsActive = true;
    bool rightArrowIsActive = true;

    if (ViewBag.CurrentPage == 1)
    {
        previousPage = 1;

        leftArrowIsActive = false;
    }

    if (Model.Count < 4)
    {
        nextPage = ViewBag.CurrentPage;

        rightArrowIsActive = false;
    }
}

<br />
<br />
<div">

    <div class="col-md-3 dropdown" style="margin-left:467px">
        <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Select category
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("All", "ListAllTypeSearch", "Favor", new { @currentPage = currentPage, @category = 0 }, null)</li>
            <li>@Html.ActionLink("Machine service", "ListAllTypeSearch", "Favor", new { @currentPage = currentPage, @category = 1 }, null)</li>
            <li>@Html.ActionLink("Personal care", "ListAllTypeSearch", "Favor", new { @currentPage = currentPage, @category = 2 }, null)</li>
            <li>@Html.ActionLink("Art", "ListAllTypeSearch", "Favor", new { @currentPage = currentPage, @category = 3 }, null)</li>
            <li>@Html.ActionLink("Media", "ListAllTypeSearch", "Favor", new { @currentPage = currentPage, @category = 4 }, null)</li>
            <li>@Html.ActionLink("Design", "ListAllTypeSearch", "Favor", new { @currentPage = currentPage, @category = 5 }, null)</li>
            <li>@Html.ActionLink("House care", "ListAllTypeSearch", "Favor", new { @currentPage = currentPage, @category = 6 }, null)</li>
            <li>@Html.ActionLink("Garden care", "ListAllTypeSearch", "Favor", new { @currentPage = currentPage, @category = 7 }, null)</li>
            <li>@Html.ActionLink("Animal care", "ListAllTypeSearch", "Favor", new { @currentPage = currentPage, @category = 8 }, null)</li>
            <li>@Html.ActionLink("Social activities", "ListAllTypeSearch", "Favor", new { @currentPage = currentPage, @category = 9 }, null)</li>
            <li>@Html.ActionLink("Education", "ListAllTypeSearch", "Favor", new { @currentPage = currentPage, @category = 10 }, null)</li>
            <li>@Html.ActionLink("DIY", "ListAllTypeSearch", "Favor", new { @currentPage = currentPage, @category = 11 }, null)</li>
            <li>@Html.ActionLink("Online service", "ListAllTypeSearch", "Favor", new { @currentPage = currentPage, @category = 12 }, null)</li>
            <li>@Html.ActionLink("Software service", "ListAllTypeSearch", "Favor", new { @currentPage = currentPage, @category = 13 }, null)</li>
            <li>@Html.ActionLink("Hardware service", "ListAllTypeSearch", "Favor", new { @currentPage = currentPage, @category = 14 }, null)</li>
            <li>@Html.ActionLink("Other", "ListAllTypeSearch", "Favor", new { @currentPage = currentPage, @category = 15 }, null)</li>
        </ul>
    </div>

    

    @foreach (var singleFavorModel in Model)
    {
        string link = $"/Favor/Details/{singleFavorModel.Id}";

        <div class="wrapper">
            <div class="col-md-6">
                <div class="card card-signup" style="margin-top:40px">
                    <form class="form" method="post">
                        <div class="header header-info text-center">
                            <h2>@singleFavorModel.Title</h2>
                        </div>
                        <div class="col-md-8 text-center col-md-offset-2">
                            <p>
                                @singleFavorModel.Description.Substring(0, singleFavorModel.Description.Length < 20 ? singleFavorModel.Description.Length :20)...
                                    </p>
                                    <br />
                                    <br />
                                    <div class="footer text-center">
                                        <form>
                                            <input type="button" value="Details" class="btn btn-primary btn-round" data-toggle="tooltip" data-placement="top" title="Take a look" onclick="window.location.href='@link'">
                                        </form>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
                
    }
    <div class="text-center navbar-fixed-bottom" style="margin-bottom:60px">
        <ul class="pagination pagination-primary">
            @if (leftArrowIsActive)
            {
                <li>@Html.ActionLink("<", "ListAllTypeSearch", "Favor", new { @currentPage = previousPage, @category = currentCategory }, null)</li>
            }
            else
            {
                <li class="fade"><a href="#"><</a></li>
            }
            <li class="active"><a href="#">@ViewBag.CurrentPage</a></li>
            @if (rightArrowIsActive)
            {
                <li>@Html.ActionLink(">", "ListAllTypeSearch", "Favor", new { @currentPage = nextPage, @category = currentCategory }, null)</li>
            }
            else
            {
                <li class="fade"><a href="#">></a></li>
            }
        </ul>
    </div>
</div>
