@model List<Favor.Models.FavorModels.ListAllFavorsModel>

@{
    ViewBag.Title = "Searching";
}

@{
    int previousPage = ViewBag.CurrentPage - 1;
    int nextPage = ViewBag.CurrentPage + 1;

    bool leftArrowIsActive = true;
    bool rightArrowIsActive = true;

    if (ViewBag.CurrentPage == 1)
    {
        previousPage = 1;

        leftArrowIsActive = false;
    }

    if (Model.Count < 5)
    {
        nextPage = ViewBag.CurrentPage;

        rightArrowIsActive = false;
    }
}

<div>
    <div class="text-center">
        <ul class="pagination pagination-primary">
            @if (leftArrowIsActive)
            {
                <li>@Html.ActionLink("<", "ListAllTypeSearch", "Favor", new { @currentPage = previousPage }, null)</li>
            }
            else
            {
                <li class="fade"><a href="#"><</a></li>
            }
            <li class="active"><a href="#">@ViewBag.CurrentPage</a></li>
            @if (rightArrowIsActive)
            {
                <li>@Html.ActionLink(">", "ListAllTypeSearch", "Favor", new { @currentPage = nextPage }, null)</li>
            }
            else
            {
                <li class="fade"><a href="#">></a></li>
            }
        </ul>
    </div>

    @foreach (var singleFavorModel in Model)
    {
        <div class="col-sm-6">
            <article>
                <header>
                    <h2>
                        @Html.ActionLink(singleFavorModel.Title, "Details", "Favor", new { @id = singleFavorModel.Id }, null)
                    </h2>
                </header>
                <p>
                    @singleFavorModel.Description
                </p>
                <footer class="pull-right">
                    <small class="author">
                        @singleFavorModel.FullName
                    </small>
                </footer>
            </article>
        </div>

    }

</div>