@model List<Favor.Models.FavorModels.ListAllFavorsModel>

@{
    ViewBag.Title = "Searching";
}

@{
    int previousPage = ViewBag.CurrentPage - 1;
    int nextPage = ViewBag.CurrentPage + 1;

    bool leftArrowIsActive = true;
    bool rightArrowIsActive = true;

    if (ViewBag.CurrentPage == 1)
    {
        previousPage = 1;

        leftArrowIsActive = false;
    }

    if (Model.Count < 6)
    {
        nextPage = ViewBag.CurrentPage;

        rightArrowIsActive = false;
    }
}

<br />
<br />
<div>
    <div class="text-center">
        <ul class="pagination pagination-primary">
            @if (leftArrowIsActive)
            {
                <li>@Html.ActionLink("<", "ListAllTypeSearch", "Favor", new { @currentPage = previousPage }, null)</li>
            }
            else
            {
                <li class="fade"><a href="#"><</a></li>
            }
            <li class="active"><a href="#">@ViewBag.CurrentPage</a></li>
            @if (rightArrowIsActive)
            {
                <li>@Html.ActionLink(">", "ListAllTypeSearch", "Favor", new { @currentPage = nextPage }, null)</li>
            }
            else
            {
                <li class="fade"><a href="#">></a></li>
            }
        </ul>
    </div>

    @foreach (var singleFavorModel in Model)
    {
        string link = $"/Favor/Details/{singleFavorModel.Id}";

        <div class="wrapper">
            <div class="col-md-4">
                <div class="card card-signup" style="margin-top:40px">
                    <form class="form" method="post">
                        <div class="header header-info text-center">
                            <h2>@singleFavorModel.Title</h2>
                        </div>
                        <div class="col-md-8 text-center col-md-offset-2">
                            <p>
                                @singleFavorModel.Description.Substring(0, singleFavorModel.Description.Length < 20 ? singleFavorModel.Description.Length :20)...
                                    </p>
                                    <br />
                                    <br />
                                    <div class="footer text-center">
                                        <form>
                                            <input type="button" value="Details" class="btn btn-primary btn-round" data-toggle="tooltip" data-placement="top" title="Take a look" onclick="window.location.href='@link'">
                                        </form>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
                
    }

</div>
