@model List<Favor.Models.FavorModels.ListAllFavorsModel>

@{
    ViewBag.Title = "Doing";
}

@{
    int previousPage = ViewBag.CurrentPage - 1;
    int nextPage = ViewBag.CurrentPage + 1;
    int currentPage = ViewBag.CurrentPage;

    bool leftArrowIsActive = true;
    bool rightArrowIsActive = true;

    if (ViewBag.CurrentPage == 1)
    {
        previousPage = 1;

        leftArrowIsActive = false;
    }

    if (Model.Count < 5)
    {
        nextPage = ViewBag.CurrentPage;

        rightArrowIsActive = false;
    }
}
<br />
<br />

<div>

    <div class="col-md-3 dropdown">
        <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
            Select category
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("All", "ListAllTypeDoing", "Favor", new { @currentPage = currentPage, @category = 0 }, null)</li>
            <li>@Html.ActionLink("Machine service", "ListAllTypeDoing", "Favor", new { @currentPage = currentPage, @category = 1 }, null)</li>
            <li>@Html.ActionLink("Personal care", "ListAllTypeDoing", "Favor", new { @currentPage = currentPage, @category = 2 }, null)</li>
            <li>@Html.ActionLink("Art", "ListAllTypeDoing", "Favor", new { @currentPage = currentPage, @category = 3 }, null)</li>
            <li>@Html.ActionLink("Media", "ListAllTypeDoing", "Favor", new { @currentPage = currentPage, @category = 4 }, null)</li>
            <li>@Html.ActionLink("Design", "ListAllTypeDoing", "Favor", new { @currentPage = currentPage, @category = 5 }, null)</li>
            <li>@Html.ActionLink("House care", "ListAllTypeDoing", "Favor", new { @currentPage = currentPage, @category = 6 }, null)</li>
            <li>@Html.ActionLink("Garden care", "ListAllTypeDoing", "Favor", new { @currentPage = currentPage, @category = 7 }, null)</li>
            <li>@Html.ActionLink("Animal care", "ListAllTypeDoing", "Favor", new { @currentPage = currentPage, @category = 8 }, null)</li>
            <li>@Html.ActionLink("Social activities", "ListAllTypeDoing", "Favor", new { @currentPage = currentPage, @category = 9 }, null)</li>
            <li>@Html.ActionLink("Education", "ListAllTypeDoing", "Favor", new { @currentPage = currentPage, @category = 10 }, null)</li>
            <li>@Html.ActionLink("DIY", "ListAllTypeDoing", "Favor", new { @currentPage = currentPage, @category = 11 }, null)</li>
            <li>@Html.ActionLink("Online service", "ListAllTypeDoing", "Favor", new { @currentPage = currentPage, @category = 12 }, null)</li>
            <li>@Html.ActionLink("Software service", "ListAllTypeDoing", "Favor", new { @currentPage = currentPage, @category = 13 }, null)</li>
            <li>@Html.ActionLink("Hardware service", "ListAllTypeDoing", "Favor", new { @currentPage = currentPage, @category = 14 }, null)</li>
            <li>@Html.ActionLink("Other", "ListAllTypeDoing", "Favor", new { @currentPage = currentPage, @category = 15 }, null)</li>
        </ul>
    </div>

    @foreach (var singleFavorModel in Model)
    {
        string link = $"/Favor/Details/{singleFavorModel.Id}";

        <div class="wrapper">
            <div class="col-md-4">
                <div class="card card-signup" style="margin-top:40px">
                    <form class="form" method="post">   
                        <div class="header header-info text-center">
                            <h2>@singleFavorModel.Title</h2>
                        </div>
                        <div class="col-md-8 text-center col-md-offset-2">
                            <p>
                                @singleFavorModel.Description.Substring(0, singleFavorModel.Description.Length < 50 ? singleFavorModel.Description.Length : 50)...
                            </p>
                            <br />
                            <br />
                            <div class="footer text-center">
                                <form>
                                    <input type="button" value="Details" class="btn btn-primary btn-round" data-toggle="tooltip" data-placement="top" title="Take a look" onclick="window.location.href='@link'">
                                </form>
                            </div>
                    </form>
                </div>
            </div>
        </div>


    }

 

    <div class="text-center navbar-fixed-bottom" style="margin-bottom:60px">
        <ul class="pagination pagination-primary">
            @if (leftArrowIsActive)
            {
                <li>@Html.ActionLink("<", "ListAllTypeDoing", "Favor", new { @currentPage = previousPage }, null)</li>
            }
            else
            {
                <li class="fade"><a href="#"><</a></li>
            }
            <li class="active"><a href="#">@ViewBag.CurrentPage</a></li>
            @if (rightArrowIsActive)
            {
                <li>@Html.ActionLink(">", "ListAllTypeDoing", "Favor", new { @currentPage = nextPage }, null)</li>
            }
            else
            {
                <li class="fade"><a href="#">></a></li>
            }
        </ul>
    </div>
</div>