@model Favor.Data.User

@{
    ViewBag.Title = "My profile";
}


<head>
</head>
<body class="profile-page">
<br />
<br />
<br />

<div class="wrapper">
    
    <div class="container header header-filter" style="background-image: url(../../Content/img/coolShit.png);
            margin: -600px -800px -50px -10px; ">
        </div>
            <div class="row">
                <div class="col-md-12 main main-raised"
                     style="margin: -50px 10px 10px 5px" >
                    
                        <div class="profile" style="margin: -40px 10px 10px 10px">
                            <div class="name text-center">
                                <button class="btn btn-white text-center">
                                    <h1 class="title text-center">@Model.FullName</h1>
                                </button><br />
                               
                  

                    <div class="input text-center">

                        <div class="footer text-center">
                            <form action="/Manage/Index">
                                <input type="submit" value="Manage Profile" class="btn btn-danger btn-round" data-toggle="tooltip" data-placement="top" title="Profile Configuration">
                            </form>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-tabs">
                                    <div class="nav-align-center">
                                        <ul class="nav nav-pills" role="tablist">

                                            <li class="active">
                                                <a href="#MyFavors" role="tab" data-toggle="tab">
                                                    <i class="material-icons">style</i>
                                                    My Favors
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#PendingFavors" role="tab" data-toggle="tab">
                                                    <i class="material-icons">compare_arrows</i>
                                                    Pending
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#SentFavors" role="tab" data-toggle="tab">
                                                    <i class="material-icons">unarchive</i>
                                                    Sent
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#AccomplishedFavors" role="tab" data-toggle="tab">
                                                    <i class="material-icons">beenhere</i>
                                                    Accomplished
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#Messages" role="tab" data-toggle="tab">
                                                    <i class="material-icons">message</i>
                                                    Messages
                                                </a>
                                            </li>

                                        </ul>
                                        <div class="tab-content col-md-offset-3">
                                            <div class="tab-pane active" id="MyFavors">
                                                <div class="row text-center">
                                                    <div class="col-md-12 col-md-pull-2">
                                                        <div>
                                                            <br />
                                                            <br />
                                                            <br />
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center">Title</th>
                                                                        <th  class="text-center">Description</th>
                                                                        <th  class="text-center">Date Posted</th>                                                                      
                                                                        <th class="text-right">Actions</th>
                                                                    </tr>
                                                                </thead>
                                                            <tbody>
                                                                @foreach (var favor in Model.MyFavors.OrderByDescending(f=>f.Id))
                                                                {
                                                                    var substr = favor.Description.Substring(0, favor.Description.Length < 50 ? favor.Description.Length : 50) + "...";
                                                                    <tr>
                                                                        <td>@favor.Title</td>
                                                                        <td>@substr</td>
                                                                        <td>@favor.CreationDate</td>
                                                                        <td class="td-actions text-right">

                                                                            <form action="/Favor/Details/@favor.Id" style="display:inline-block">
                                                                                <button type="submit" rel="tooltip" title="View Favor" class="btn btn-info btn-simple btn-xs">
                                                                                    <i class="fa fa-info"></i>
                                                                                </button>
                                                                            </form>
                                                                            <form action= "/Favor/Edit/@favor.Id" style="display:inline-block">
                                                                                <button type="submit" rel="tooltip" title="Edit Favor" class="btn btn-success btn-simple btn-xs">
                                                                                    <i class="fa fa-pencil"></i>
                                                                                </button>
                                                                            </form>
                                                                            <form action= "/Favor/Delete/@favor.Id" style="display:inline-block">
                                                                                <button type="submit" rel="tooltip" title="Delete Favor" class="btn btn-danger btn-simple btn-xs">
                                                                                    <i class="fa fa-times"></i>
                                                                                </button>
                                                                            </form>
                                                                         </td>
                                                                    </tr>
                                                                }
                                                              </tbody >
                                                          </table>                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane text-center" id="PendingFavors">
                                                <div class="row">
                                                    <div class="col-md-12 col-md-pull-2">
                                                        <div>
                                                            <br />
                                                            <br />
                                                            <br />
                                                            <table class="table">
                                                                <tbody>
                                                                    @foreach (var pendingFavor in Model.PendingFavors.OrderByDescending(f => f.Id))
                                                                    {
                                                                        var substr = pendingFavor.FavorContent.Substring(0, pendingFavor.FavorContent.Length < 50 ? pendingFavor.FavorContent.Length : 50) + "...";
                                                                        <tr>
                                                                            <td><a href="/Profile/OtherProfile?otherProfileId=@pendingFavor.SenderId"><b>@pendingFavor.SenderFullName</b></a></td>
                                                                            <td>@pendingFavor.FavorTitle</td>
                                                                            <td>@substr</td>
                                                                            <td>@pendingFavor.TradeOff</td>
                                                                            <td>@pendingFavor.TimeSent</td>
                                                                            
                                                                            <td class="td-actions text-right">

                                                                                <a href="/Favor/Details/@pendingFavor.FavorId" style="color: blue; margin-right: 10px"><i class="fa fa-info"></i></a>

                                                                                <script>
                                                                                    function ConfirmTradeFavors(id) {
                                                                                        var x = confirm("Are you sure you want to accept the trade?");
                                                                                        if (x)
                                                                                            window.location.href = "/FavorTrade/AcceptTrade?id=" + Number(id);
                                                                                        else
                                                                                            return false;
                                                                                    }
                                                                                </script>

                                                                                <a href="#" Onclick="return ConfirmTradeFavors(@pendingFavor.Id);" type="submit" name="actiondelete" value="1" style="color:green; margin-top:-4px ; margin-right: 10px"><i class="fa fa-check"></i></a>


                                                                                <script>
                                                                                    function ConfirmDeclineForPendingFavors(id) {
                                                                                        var x = confirm("Are you sure you want to decline the trade?");
                                                                                        if (x)
                                                                                            window.location.href = "/FavorTrade/CancelTrade?id=" + Number(id);
                                                                                        else
                                                                                            return false;
                                                                                    }
                                                                                </script>

                                                                                <a href="#" Onclick="return ConfirmDeclineForPendingFavors(@pendingFavor.Id);" type="submit" name="actiondelete" value="1" style="color:red; margin-top:-4px"><i class="fa fa-times"></i></a>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane text-center" id="SentFavors">
                                                <div class="row">
                                                    <div class="col-md-12 col-md-pull-2">
                                                        <div>
                                                            <br />
                                                            <br />
                                                            <br />
                                                            <table class="table">
                                                                <tbody>
                                                                    @foreach (var sentFavor in Model.SentFavors.OrderByDescending(f => f.Id))
                                                                    {
                                                                        var substr = sentFavor.FavorContent.Substring(0, sentFavor.FavorContent.Length < 50 ? sentFavor.FavorContent.Length : 50) + "...";
                                                                        <tr>
                                                                            <td><a href="/Profile/OtherProfile?otherProfileId=@sentFavor.RecieverId"><b>@sentFavor.RecieverFullName</b></a></td>
                                                                            <td>@sentFavor.FavorTitle</td>
                                                                            <td>@substr</td>
                                                                            <td>@sentFavor.TradeOff</td>
                                                                            <td>@sentFavor.TimeSent</td>

                                                                            <td class="td-actions text-right">

                                                                                <a href="/Favor/Details/@sentFavor.FavorId" style="color: blue; margin-right: 10px"><i class="fa fa-info"></i></a>

                                                                                <script>
                                                                                     function ConfirmDeleteForSentFavors(id) {
                                                                                         var x = confirm("Are you sure you want to cancel the trade?");
                                                                                         if (x)
                                                                                             window.location.href = "/FavorTrade/CancelTrade?id=" + Number(id);
                                                                                         else
                                                                                             return false;
                                                                                     }
                                                                                </script>

                                                                                <a href="#" Onclick="return ConfirmDeleteForSentFavors(@sentFavor.Id);" type="submit" name="actiondelete" value="1" style="color:red; margin-top:-4px"><i class="fa fa-times"></i></a>


                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane text-center" id="AccomplishedFavors">
                                                <div class="row">
                                                    <div class="col-md-12 col-md-pull-2">
                                                        <div>
                                                            <br />
                                                            <br />
                                                            <br />
                                                            <table class="table">
                                                                <tbody>
                                                                    @foreach (var accomplishedFavor in Model.AccomplishedFavors.OrderByDescending(f => f.Id))
                                                                    {
                                                                        var substr = accomplishedFavor.FavorContent.Substring(0, accomplishedFavor.FavorContent.Length < 50 ? accomplishedFavor.FavorContent.Length : 50) + "...";

                                                                        var db = new Favor.Data.FavorDbContext();
                                                                        var sender = db.Users.Find(accomplishedFavor.SenderId);

                                                                        <tr>
                                                                            @if (this.User.Identity.Name == sender.Email)
                                                                            {
                                                                                <td><a href="/Profile/OtherProfile?otherProfileId=@accomplishedFavor.ReceiverId"><b>@accomplishedFavor.ReceiverFullName</b></a></td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td><a href="/Profile/OtherProfile?otherProfileId=@accomplishedFavor.SenderId"><b>@accomplishedFavor.SenderFullName</b></a></td>
                                                                            }

                                                                            <td>@accomplishedFavor.FavorTitle</td>
                                                                            <td>@substr</td>
                                                                            <td>@accomplishedFavor.TradeOff</td>
                                                                            <td>@accomplishedFavor.TimeSent</td>                      
                                                                            <td class="td-actions text-right"`1> 
                                                                                <form action="/AccomplishedFavor/AccomplishedFavorDetails/@accomplishedFavor.Id" style="display:inline-block">
                                                                                    <button type="submit" rel="tooltip" title="View Favor" class="btn btn-info btn-simple btn-xs">
                                                                                        <i class="fa fa-info"></i>
                                                                                    </button>
                                                                                </form>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane text-center" id="Messages">
                                                <div class="row">
                                                    <div class="col-md-12 col-md-pull-2">
                                                        
                                                        <div>
                                                            <br />
                                                            <br />
                                                            <br />
                                                                    

                                                            <table class="table">
                                                                <tbody>

                                                                    @if (this.User.IsInRole("Admin"))
                                                                    {
                                                                        foreach (var ticketForAdmin in Model
                                                                                                         .TicketsForAdmin
                                                                                                         .OrderByDescending(t => t.Id))
                                                                        {
                                                                            if (this.User.Identity.Name != ticketForAdmin.RecieverEmail)
                                                                            {
                                                                                continue;
                                                                            }

                                                                            <tr>
                                                                                <td><a href="/Profile/OtherProfile?otherProfileId=@ticketForAdmin.SenderId"><b>@ticketForAdmin.SenderFullName</b></a></td>
                                                                                <td style="color:red"><b>@ticketForAdmin.Type.ToString()</b></td>
                                                                                <td>@ticketForAdmin.Title</td>
                                                                                <td>@ticketForAdmin.Content</td>
                                                                                <td>@ticketForAdmin.TimeSent</td>
                                                                                <td class="td-actions text-right">
                                                                                    <script>
                                                                                        function ConfirmDeleteForTickets(id) {
                                                                                            var x = confirm("Are you sure you want to delete the ticket?");
                                                                                            if (x)
                                                                                                window.location.href = "/Message/DeleteTicket?id=" + Number(id);
                                                                                            else
                                                                                                return false;
                                                                                        }
                                                                                    </script>

                                                                                    <a href="#" Onclick="return ConfirmDeleteForTickets(@ticketForAdmin.Id);" type="submit" name="actiondelete" value="1" style="color:red; margin-top:-4px"><i class="fa fa-times"></i></a>


                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        foreach (var ticketForSender in Model
                                                                                                         .TicketsForSender
                                                                                                         .OrderByDescending(t => t.Id))
                                                                        {
                                                                            <tr>
                                                                                <td><b>@ticketForSender.Reciever</b></td>
                                                                                <td style="color:red"><b>@ticketForSender.Type.ToString()</b></td>
                                                                                <td>@ticketForSender.Title</td>
                                                                                <td>@ticketForSender.Content</td>
                                                                                <td>@ticketForSender.TimeSent</td>
                                                                                <td class="td-actions text-right">
                                                                                    <script>
                                                                                        function ConfirmDeleteForTickets(id) {
                                                                                            var x = confirm("Are you sure you want to delete the ticket?");
                                                                                            if (x)
                                                                                                window.location.href = "/Message/DeleteTicket?id=" + Number(id);
                                                                                            else
                                                                                                return false;
                                                                                        }
                                                                                    </script>

                                                                                    <a href="#" Onclick="return ConfirmDeleteForTickets(@ticketForSender.Id);" type="submit" name="actiondelete" value="1" style="color:red; margin-top:-4px"><i class="fa fa-times"></i></a>


                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }

                                                                    @foreach (var message in Model.Messages.OrderByDescending(u => u.Id))
                                                                    {
                                                                        <tr>
                                                                            @if (message.Type == Favor.Data.MessageType.Received)
                                                                            {
                                                                                var db = new Favor.Data.FavorDbContext();
                                                                                var senderFullName = db.Users.FirstOrDefault(u => u.Email == message.SenderEmail);
                                                                                if (senderFullName != null)
                                                                                {
                                                                                    <td><a href="/Profile/OtherProfile?otherProfileId=@senderFullName.Id"><strong>@senderFullName.FullName</strong></a></td>
                                                                                }


                                                                            }
                                                                            else if (message.Type == Favor.Data.MessageType.FromAdmin)
                                                                            {
                                                                                var db = new Favor.Data.FavorDbContext();
                                                                                var senderFullName = db.Users.FirstOrDefault(u => u.Email == message.SenderEmail);
                                                                                if (senderFullName != null)
                                                                                {
                                                                                    <td><a href="/Profile/OtherProfile?otherProfileId=@senderFullName.Id"><strong>@senderFullName.FullName</strong></a></td>
                                                                                }
                                                                            }
                                                                            else if (message.Type == Favor.Data.MessageType.Sent)
                                                                            {
                                                                                var db = new Favor.Data.FavorDbContext();

                                                                                var recieverFullName = db.Users.FirstOrDefault(u => u.Id == message.ReceiverId);
                                                                                if (recieverFullName != null)
                                                                                {
                                                                                    <td><a href="/Profile/OtherProfile?otherProfileId=@recieverFullName.Id"><strong>@recieverFullName.FullName</strong></a></td>
                                                                                }
                                                                            }
                                                                            else if (message.Type == Favor.Data.MessageType.System)
                                                                            {
                                                                                if (this.User.Identity.Name == message.SenderEmail)
                                                                                {
                                                                                    var db = new Favor.Data.FavorDbContext();

                                                                                    var recieverFullName = db.Users.FirstOrDefault(u => u.Id == message.ReceiverId);
                                                                                    if (recieverFullName != null)
                                                                                    {
                                                                                        <td><a href="/Profile/OtherProfile?otherProfileId=@recieverFullName.Id"><strong>@recieverFullName.FullName</strong></a></td>
                                                                                    }
                                                                                }
                                                                                else
                                                                                {
                                                                                    var db = new Favor.Data.FavorDbContext();
                                                                                    var senderFullName = db.Users.FirstOrDefault(u => u.Email == message.SenderEmail);
                                                                                    if (senderFullName != null)
                                                                                    {
                                                                                        <td><a href="/Profile/OtherProfile?otherProfileId=@senderFullName.Id"><strong>@senderFullName.FullName</strong></a></td>
                                                                                    }
                                                                                }
                                                                            }

                                                                            @if (message.Content.Contains("accepted") &&
message.Type == Favor.Data.MessageType.System)
                                                                            {
                                                                                <td style="color:green"><strong>@message.Type.ToString()</strong></td>
                                                                            }
                                                                            else if (message.Type == Favor.Data.MessageType.FromAdmin ||
                                                                                 message.Type == Favor.Data.MessageType.System)
                                                                            {
                                                                                <td style="color:red"><strong>@message.Type.ToString()</strong></td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>@message.Type.ToString()</td>
                                                                            }

                                                                            <td>@message.Title</td>
                                                                            <td>@message.Content</td>
                                                                            <td>@message.DateSent</td>
                                                                            <td class="td-actions text-right">
                                                                                <script>
                                                                                     function ConfirmDeleteForMessages(id) {
                                                                                         var x = confirm("Are you sure you want to delete the message?");
                                                                                         if (x)
                                                                                             window.location.href = "/Message/DeleteMessage?id=" + Number(id);
                                                                                         else
                                                                                             return false;
                                                                                     }
                                                                                </script>

                                                                                <a href="#" Onclick="return ConfirmDeleteForMessages(@message.Id);" type="submit" name="actiondelete" value="1" style="color:red; margin-top:-4px"><i class="fa fa-times"></i></a>


                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>





                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Profile Tabs -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div></div></div></div></div>

    </body>
